.header__logo {
	font: 700 36px "League Gothic", "Oswald";
}
.menu__item, .news__title, .menu__item--footer {
	font: 700 18px "League Gothic", "Oswald";
}
.slider__item__title {
	font: 700 40px "League Gothic", "Oswald";
}
.blurbs__title, .main-content__testimonial__title, .main-content__blog__title, .news__title1--960-only {
	font: 700 20px "League Gothic", "Oswald";
}
.blurbs__more, .slider__item__sub-title, .blog__more, .menu__item--footer {
	font: 700 14px "League Gothic", "Oswald";
}